:root {
  --Grayish-Blue: hsl(217, 19%, 38%);
  --Dark-Grayish-Blue: hsl(217, 19%, 24%);
  --Dark-Blue: hsl(218, 23%, 16%);
  --Light-Cyan: hsl(193, 38%, 86%);
  --Neon-Green: hsl(150, 100%, 66%);
}

*{
  margin: 0;
  font-weight: bold;
  text-align: center;
  font-family: 'Manrope', sans-serif;
  box-sizing: border-box;
}

body{
  background-color: var(--Dark-Blue);
}

footer {
  width: 100vw;
  height: 50px;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 2;
  box-shadow: -2px 0 3px 2px rgb(153, 153, 153);
}

footer h1 {
  font-size: 20px;
  color: rgb(143, 143, 143);
  font-weight: 100;
  line-height: 50px;
  text-align: center;
}

a {
  color: rgb(255, 255, 255);
}

main{
  background-color: var(--Dark-Grayish-Blue);
  width: 540px;
  padding: 26px 44px 0 44px;
  position:relative;
  left: 50vw;
  top: 50vh;
  transform: translate(-50%, -50%);
  border-radius: 10px;
}

p{
  color: var(--Neon-Green);
  letter-spacing: 5px;
  font-weight: 17px;
  margin-bottom: 26px;
}

blockquote{
  color: var(--Light-Cyan);
  font-size: 28px;
}


.divisor-desktop{
  margin: 32px 0 59.5px 0;
}

.divisor-mobile{
  
  display: none;
}

button{
  display: block;
  border: none;
  background-image: url('images/icon-dice.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--Neon-Green);
  border-radius: 50%;
  position: absolute;
  height: 55px;
  width: 55px;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  box-shadow: 1px 1px 12px --Neon-Green;
}

button:hover{
  box-shadow: 0 0 20px 2px var(--Neon-Green) ;
}

@media(max-width: 600px){
  main{
    width: calc(100vw - 30px);
    padding: 26px 33px 0 33px;
  }

  .divisor-desktop{
    display: none;
  }

  .divisor-mobile{
    display: inline;
    margin: 32px auto 59.5px auto;
  }

}

@media(max-width: 400px){
  main{
    width: calc(100vw - 20px);
    padding: 26px 10px 0 10px;
  }

  p{
    font-size: 15px;
  }

  blockquote{
    color: var(--Light-Cyan);
    font-size: 20px;
  }

  .divisor-mobile{
    width: calc(100vw - 40px);
  }
}